._btn-add {
    float: left !important;
    width: 75% !important;
}

._btn-remove {
    font-size: 1.5em !important;
    margin-top: 0 !important;
    float: left !important;
    width: 25% !important;
    background: #888 !important;
}

._btn-remove._enabled {
    background: #e11 !important;
}

._btn-remove._enabled:hover {
    background: #c00 !important;
}