._counter {
    background: #eeeeee !important;
    float: left !important;
    width: 10% !important;
    margin-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #333 !important;
    font-weight: bold !important;
}

._btn-add {
    float: left !important;
    width: 65% !important;
    margin-top: 0 !important;
}

._btn-remove {
    font-size: 1.5em !important;
    margin-top: 0 !important;
    float: left !important;
    width: 25% !important;
    background: #888 !important;
}

._btn-remove._enabled {
    background: #e11 !important;
}

._btn-remove._enabled:hover {
    background: #c00 !important;
}